*
!.gitignore

!wavedrom
!wavedrom/*

!yEd
!yEd/*

!docs
!docs/*

!microblaze_data
!microblaze_data/*

!ips
!ips/fifo_*
!ips/fifo_*/*.xci

!hdl
!hdl/header
!hdl/header/*
hdl/header/test_set.svh
!hdl/header/test_sets
!hdl/header/test_sets/*
!hdl/source
!hdl/source/*.sv
!hdl/source/*.v
!hdl/testbench
!hdl/testbench/*
!hdl/project_top
!hdl/project_top/*

!tcl
!tcl/*

!constraints
!constraints/*